.navbar-nav {
    width: 100%;
}
.navbar .nav-link {
    text-decoration: none;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
}
.navbar .nav-link:hover{
    text-decoration: none;
    transition: color 0.5s ease-in-out 0.1s;
}
.margin{
    margin: 0 0 25px 0;
}
.home{
    background-image: url(../img/HeaderFon.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    position: relative;
}
.home .bg-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.home h1{
    font-size: 35px;
	font-family: 'Bungee', cursive;
	padding-top: 65px;
	line-height: 60px;
}
header img{
    height: 286px;
}
.padding-content{
    padding: 150px 0;
}
.about-me {
    margin-bottom: 30px
}
.img-heading {
    width: 250px;
    margin: 0 20px;
}

.article {
    margin-bottom: 20px;
}
.article-thumbnail img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
}

footer .container {
    padding: 10px;
    font-size: 36px;
    color: #FFF;
}
footer .container a {
    color: #FFF;
    opacity: 0.7;
    margin-right: 10px;
}
footer .container a:hover {
    opacity: 1;
}

